.margin-top-100 {
    margin-top: 100px;
}

.margin-top-92 {
    margin-top: 92px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-10 {
    margin-top: 10px;
}

.padding-reset {
    padding: 0;
}

.tall-img {
    min-height: 220px;
    max-height: 220px;
    min-width: 145px;
    max-width: 145px;
}

.book-card {
    min-height: 260px;
    max-height: 260px;
    min-width: 445px;
    max-width: 445px;

    margin-top: 65px;
    margin-left: 10px;
}

img {
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.card-height {
    height: 20px;
}

.page-holder {
    height: 100vh;
}

.form-card {
    width: 250px;
}

.pagination {
    bottom: 0;
    left: 0;
}

.register-card {
    min-height: 460px;
    max-height: 460px;
    min-width: 350px;
    max-width: 350px;
}

.bg-cover {
    background-size: cover !important;
    background: url("../images/bg.jpg") fixed;
}

.bg-burgundy {
    background-color: #2b2b2b
}

.invalid {
    display: block;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 0.875em;
    color: #dc3545;
}

.carousel-indicators {
    position: static;
    height: 100%;
    align-items: flex-end;
    bottom: -50px;
}

.carousel-indicators li {
    width: 20px;
    height: 20px;
}